.main-page {
    background: #2c2c2c;
}

.main-block {
    display: flex;
    min-height: 100vh;
}


/* aside style */

.aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    color: #fff;
    border-right: 5px solid #4d4d4d
}

.aside-logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-img {
    width: 100px;
}

.aside-logo {
    font-size: 50px;
    font-weight: bold;
    position: relative;
}

.aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

.aside ul {
    list-style: none;
    padding-inline-start: 0px;
}

.aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

.aside ul li:hover, .aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}


/* main style */

.main-content {
    width: 80%;
}

.features {
    display: grid;
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    justify-items: center;
}

.features h1 {
    font-size: 50px;
}

.features p {
    margin: 20px auto
}

.alert-warning {
    float: left;
    clear: both;
    width: 35%;
    margin: 20px auto;
    text-align: left;
}

form {
    width: 500px;
    margin-top: 50px;
}

.delete-form {
    width: auto;
}

.content-block {
    width: 50%;
    font-size: 20px;
}

.content-about {
    display: flex;
    justify-content: center;
    text-align: left;
}

.article-text {
    margin-bottom: 50px;
}

/* contacts page style */

.contact-list {
    list-style: none;
    padding-inline-start: 0px;
}

.contact-list li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;

}

.content-block ul li:hover, .content-block ul a:hover {
    color: lightsteelblue;
    text-decoration: none;
    transform: scale(1.05);
}