{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Це невеличкий сайт створений за допомогою фреймворку Django!</p>
        <p>І це дуже круто. Тут можна переглядати чужі статті й навіть писати свої!</p>
        <p>Ти можеш:</p>
        <p>1. Читати статті</p>
        <p>2. Створювати статті</p>
        <p>3. Оновлювати статті</p>
        <p>4. Видаляти статті</p>
        <a href="{% url 'come_on' %}"><button class="btn btn-danger">Нумо! Тисни!</button></a>
    </div>
{% endblock %}