{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <div class="content-block">
            <p>Це невеличкий сайт створений за допомогою фреймворку Django!</p>
            <p>І це дуже круто. Тут можна переглядати чужі статті й навіть писати свої!</p>
            <p>Ти можеш:</p>
            <div class="content-about">
                <ol>
                    <li>Читати статті</li>
                    <li>Створювати статті</li>
                    <li>Оновлювати статті</li>
                    <li>Видаляти статті</li>
                </ol>
            </div>
            <a href="{% url 'come_on' %}"><button class="btn btn-danger">Нумо! Тисни!</button></a>
        </div>
    </div>
{% endblock %}