{% extends 'main/layout.html' %}

{% block title %}Контакти{% endblock %}

{% block content %}
    <div class="features">
        <h1>Контакти</h1>
        <div class="content-block">
            <p>Хочете дізнатися більше інформації?</p>
            <p>Завітайте в наші соц-мережі</p>
            <ul class="contact-list">
                <a href="https://www.linkedin.com/in/nazar-kovtun-76a34a309">
                    <li><i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn</li>
                </a>
                <a href="https://github.com/NazarKovtun" class="contact">
                    <li><i class="fab fa-github" aria-hidden="true"></i> GitHub</li>
                </a>
            </ul>
        </div>
    </div>
{% endblock %}