{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <div class="content-block">
            <p>Цей сайт має купу інформації та допоможе Вам розв'язати будь-які питання, можливо ;)</p>
            <a href="{% url 'news_home' %}"><button class="btn btn-warning">Статті</button></a>
            <a href="{% url 'about' %}"><button class="btn btn-warning">Про нас</button></a>
        </div>

        {% for el in values %}
            {% if el == 'hello' %}
                <p>{{ el }}</p>
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}
