{% extends 'main/layout.html' %}

{% block title %}Видалення допису{% endblock %}

{% block content %}
    <div class="features">
        <h1>Видалення допису</h1>
        <div class="content-block">
            <p>Після видалення допис буде втрачено назавжди</p>
            <p>Добре подумайте перед тим як натиснути кнопку</p>
            <form method="post" class="delete-form">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Видалити допис</button>
            </form>
        </div>
    </div>
{% endblock %}
